@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

html{
  overflow-y: scroll;
}

body{
  font-family: 'メイリオ',
  'Hiragino Kaku Gothic Pro',
  sans-serif;
  background-color: #edede3;
  background-image: url(image/haikei.jpg);
  margin: 0
}

h1{
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
}

/*小見出し*/
h2{
  clear: both;
  border-bottom: solid 5px #c39f4a;
  margin-top: 30px;
}

/*リンク*/
a{
  color: #b77d3c;
}
a:hover{
  color: #ff8800;
}
a img {
  border: none;
}

p{
  line-height: 1.5
}

/*　ヘッダー */
header{
  background-color: #ffffff;
  border-bottom: solid 1px #aaaaaa;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 7px #aaaaaa;
  box-shadow: 0 1px 7px #aaaaaa;
  padding: 5px
}

header h1 {font-family: 'Open Sans Condensed', sans-serif;
            font-size: 24px;
            width: 900px;
            margin-left: auto;
            margin-right: auto;
}

header h1 a{
  text-decoration: none;
  color: #000;
}

header h1 a:hover{
  color: #000;
}

header h1 img {
  vertical-align: -10px;
  margin-right: 5px;
}

/* 記事 */
article, #message{
  background-color: #ffffff;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #aaaaaa;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 3px #aaaaaa;
  box-shadow: 1px 1px 3px #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
}

/* フッター*/
footer{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
/*画像を中央に配置するレイアウト*/
figure.photo-center{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

figure.photo-center img{
  width: 550px;
}

/* 画像を左に配置するレイアウト*/
figure.photo-left {
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;

}

figure.photo-left img{
  width: 550px;
}

/*画像を右に配置するレイアウト*/
figure.photo-right {
  margin: 0;
  margin-left: 20px;
  float: right;

}

figure.photo-right img{
  width: 550px;
}

/*関連記事へのリンク*/
aside{
  border: solid 2px #d6c588;
  border-radius: 5px;
  padding: 10px;
  background-color: #edede3;
  margin-top: 40px;
}

aside h1{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: #c39f4a;
  border-bottom: dotted 1px #c39f4a;
}

aside ul{
  list-style-image: url(image/listmark.png);
}

aside a{
  color: #000000;
  text-decoration: none;
}

aside a:hover{
  color: #ff8800;
}

/*ナビゲーションメニュー*/
nav {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-top: -27px;
  margin-bottom: 10px;
}

nav a{
  color: #000000;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 0;
}

nav li{
  display: inline;
  font-size: 12px;
  border-right: solid 1px #aaaaaa;
  padding-left: 10px;
  padding-right: 10px;
}

nav li:first-child{
  border-left: solid 1px #aaaaaa;
}

/*お知らせページ デザイン*/
#posts article img {
  float: left;
  margin-right: 20px;
}

#posts article h1 {
  font-size: 24px;
}

#posts section {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#posts header {
  margin-bottom: 20px;
}

#posts time {
  font-size: 12px;
  color: #fff;
  background-color: #bdbc8f;
  border-radius: 10px;
  padding: 2px 20px 2px 20px;
}

#posts article a {
  color: #000000;
  text-decoration: none;
  display: block;
  overflow: hidden;
  padding: 20px;
}

#posts article {
  padding: 0;
}

#posts article a:hover {
  background-color: #ffe792;
}

/*トップページ デザイン*/

#top header {
  margin-bottom: 0;
}

#photo {
  background-image: url(image/top.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  text-align: center;
  padding-top: 320px;
  padding-bottom: 80px;
}

#photo h1 {
  color: #fff;
  font-size: 150px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 0 5px 10px #000000;
}

#photo p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 5px 10px #000000;
}

#photo a {
  background-color: #ffaa00;
  background-image: linear-gradient(to bottom, #ffe7b8 0%, #ffaa00 100%);
  background-image: -webkit-linear-gradient(to bottom, #ffe7b8 0%, #ffaa00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe7b8), to(#ffaa00));
  padding: 10px 80px;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

/*アバウトページ*/
table, th, td{
  border: solid 1px #aaaaaa;
}

table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td{
  padding: 10px 20px 10px 20px;
}

th{
  width: 150px;
  background-color: #ffcb63;
  text-align: left;
}

td{
  width: 450px;
  background-color: #ffedce;
}

caption{
  font-weight: bold;
  background-color: #d9d8a7;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/*お問い合わせページ デザイン*/
input, textarea{
  display: block;
}

input {
  width: 400px;
}

input[type="submit"] {
  width: 200px;
  background-color: #ffaa00;
  background-image: linear-gradient(to bottom, #ffe7b8 0%, #ffaa00 100%);
  background-image: -webkit-linear-gradient(to bottom, #ffe7b8 0%, #ffaa00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe7b8), to(#ffaa00));
  border: solid 1px #aaa;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea {
  width: 600px;
  height: 120px;
}
